<% layout('layouts/boilerplate') -%>
<%- include('../partials/functions.ejs')  %> 
<!-- <h1>PROJECTS WILL GO HERE</h1> -->
<div class="row">
  <div class="col-6 offset-3 project-container ">
    <% for(let project of projects){ %>

      <div class="card shadow mb-5">
        <img src="<%= project.image %>" class="card-img-top img-fluid" alt="...">
        <div class="card-body">
          <div class="card-title"><%= project.title %></div>
          <div class="card-text mb-3"><%= project.description  %> </div>
          <a href="/projects/<%=project._id%>" class="btn btn-primary">Explore</a>
          <p class="starability-result" data-rating="<%= calcProjectRating(project)  %>">
            Rated: <%= calcProjectRating(project)  %> stars
          </p>  
          
        </div>
      </div>
      <% } %> 
  </div>
</div>
