<% layout('layouts/boilerplate') -%>
<%- include('../partials/functions.ejs')  %>
<link rel="stylesheet" href="/styles/projects.show.css">
<div class="row">
  <div class="col-6 ">
    <h2 class="d-inline"><%= project.title.toUpperCase() %> </h2>
    <h5 class="d-inline"> by <a href="/user/<%= project.author._id %>"><%= project.author.username  %></a></h5>
    <div class="card shadow mb-5 mt-3">
      <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% project.images.forEach((img,i)=>{%>
          <div class="carousel-item <%= i==0?'active':''%> ">
            <img src="<%= img.url %>" class="d-block w-100 carousel-image" alt="...">
          </div>
          <% }) %>
        </div>
        <% if(project.images.length){ %>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %>
      </div>
      <div class="card-body">
        <p class="starability-result" data-rating="<%= calcProjectRating(project)  %>">
          Rated: <%= calcProjectRating(project)  %> stars
        </p>
        <div class="card-text mb-3"><%= project.description  %> </div>
        <% if(currentUser && project.author.equals(currentUser._id)){ %>

        <a href="/projects/<%= project._id %>/edit" class="btn btn-info text-light d-inline">Edit</a>
        <form action="/projects/<%= project._id  %>?_method=DELETE" class="d-inline" method="POST">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>


      </div>
    </div>
  </div>
  <div class="col-6 project-subinfo-container">

    <% if(project.links.githubLink || project.links.hostedLink){ %>
    <div class="link-section shadow mb-3">
      <h3>View Project!</h3>
      <% if(project.links.githubLink){ %>
      <a href="<%= project.links.githubLink %>" target="_blank" class="btn btn-outline-primary m-2 ml-0">Guthub Repo</a>
      <% } %>
      <% if(project.links.hostedLink){ %>
      <a href="<%= project.links.hostedLink  %>" target="_blank" class="btn btn-outline-primary m-2">Website</a>
      <% } %>
    </div>
    <% } %>
    <% if(project.stack.length){ %>
    <div class="stack-section shadow mb-3">
      <h3>Project Stack</h3>
      <div class="row justify-content-evenly stacks-main-container">
        <% for(let stack of project.stack){ %>
        <!-- <div class="col-2"> -->
        <span class="stack-icon-container">
          <span class="iconify stack-icon" data-icon="<%= stack.dataIcon  %>" data-inline="false"></span>
          <p class="stack-name"><%= stack.name %></p>
        </span>
        <!-- </div> -->
        <% } %>
      </div>
    </div>
    <% } %>


    <div class="rating-section shadow">
      <h3>Rate the project:</h3>
      <form action="/projects/<%= project._id %>/rating" method="POST" class="mb-3">
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating[rating]" value="1" checked
            aria-label="No rating." />
          <input type="radio" id="first-rate1" name="rating[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="rating[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="rating[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="rating[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="rating[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>

        <div class="mb-3">
          <label for="review" class="form-label">Review:</label>
          <textarea name="rating[body]" class="form-control" id="rating[body]" cols="10" rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Rate</button>
      </form>


      <% if(project.ratings){%>
      <% for(let rating of project.ratings){ %>
      <div class="ratings-container">
        <div class="card mb-3">
          <div class="rater-info row justify-content-start">
            <div class="col-3 user-profilepic-rating"
              style="background-image:url('<%=rating.author.profilePic.url   %>')"></div>
            <div class="col-6 user-rating row">
              <div class="col-12 user-rating-username"><a href="/user/<%=rating.author._id  %>"><%= rating.author.username  %></a> </div>
              <div class="col-12 user-ratings-stars">
                <p class="starability-result" data-rating="<%= rating.rating  %>">
                  Rated: <%= rating.rating  %> stars
                </p>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="card-text mb-3"><%= rating.body  %></div>
            <% if(currentUser && rating.author.equals(currentUser._id)){ %>
              <form action="/projects/<%= project._id%>/rating/<%=rating._id %>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button></form>
              <% } %>
          </div>
          
        </div>
      </div>
      <% } %>
      <% } %>
    </div>



  </div>



</div>
</div>